# Draw.io temp files
.drawio.dtmp
.$*
.DS_Store

# pycache
sourcode/mysite/__pycache__/
__pycache__

# Virtual Environment variables
venv/
env/
ENV/
sourcecode/backend/venv
sourcecode/my-app/venv
.env

# Security reports
*.sbom
*.report