button {
    cursor: pointer;
}

input {
    cursor: pointer
}

#dashContainer {
    display: grid;
    grid-template-columns: 220px 2fr;
    grid-template-rows: auto 1fr;
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    overflow-x: hidden;
}

.navbar {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.sideNavbar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.dashContentContainer {
  grid-column: 2 / 3;   
  grid-row: 2 / 3;      
}

.dashContentContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 220px 1fr 1fr ;
    gap: 16px;
    align-items: stretch;
    background-color: #E5ECF4;
    padding: 1rem;
    border-radius: 0.5rem 0 0 0;
    overflow: auto;
    min-height: 100%;
    height: 100%;
}

#deviceList {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
}

#anomalyList {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#announcements {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#networkTraffic {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

#networkTraffic button {
  white-space: normal;
  word-break: break-word;
  padding: 8px 16px;
  min-width: 0;
  min-height: 0;
  width: auto;
  height: auto;
  align-self: flex-start; 
  box-sizing: border-box;
}

.btn-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#trafficScore {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    height: 100%;
}

#graph {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    max-height: none;
    min-height: 0;
    height: 100%;
    overflow-y: auto;
}