.dashContentContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 8px;
    width: 100%;
    box-sizing: border-box;
}

#networkOverview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
}

#networkOverview > div {
    flex: 1;
}

.middle {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.middle > div {
    flex: 1
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

#recentActivity {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

#announcements {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}


#anomalyTimeline {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}