#dashContainer {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr;
}

#topNavbar {
    grid-column: 1 / 3; /* Span both columns */
    grid-row: 1 / 2;    
    border-bottom: 0.5px solid var(--fifth-colour);
}

#sideNavbar {
    grid-column: 1 / 2; 
    grid-row: 2 / 3;    
    border-right: 0.5px solid var(--fifth-colour);
}

#dashContentContainer {
    grid-column: 2 / 3; 
    grid-row: 2 / 3;    
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    background: var(--third-colour);
    width: 100%;
}

.dashboardItem {
    padding: 12px;
    margin: 6px;
    border-radius: 25px;
    background: var(--secondary-colour);
    box-shadow: 2px 4px 4px var(--fourth-colour);
}

.dashboardItem span {
    font-weight: bold;
}

.dashboardItem li {
    font-size: 12px;
}

#statistics {
    grid-column: 1 / 1;
    grid-row: 1 / span 3;
}

#threatsDetected {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

#liveNetworkTraffic {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}

#threats2 {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
}

#announcements {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

#aiInfo {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
}

#map {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
}

#deviceList {
    grid-column: 3 / 3;
    grid-row: 3 / 3;
}