button {
    cursor: pointer;
}

input {
    cursor: pointer
}

.dashContentContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 220px 1fr 1fr ;
    gap: 16px;
    align-items: stretch;
    padding: 1rem;
    overflow: auto;
    height: 100%;
    width: 100%;
    background-color: #E5ECF4;
}

#deviceList {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
}

.deviceItem {
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid black;
}

#anomalyList {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#announcements {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#networkTraffic {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

#networkTraffic button {
  white-space: normal;
  word-break: break-word;
  padding: 8px 16px;
  min-width: 0;
  min-height: 0;
  width: auto;
  height: auto;
  align-self: flex-start; 
  box-sizing: border-box;
}

.btn-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#trafficScore {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    height: 100%;
    overflow-y: auto;
}

#graph {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    height: 100%;
    overflow-y: auto;
}
