#logContainer {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 220px 2fr;
    grid-template-rows: auto 1fr;
}

.topNavbar {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.sideNavbar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.logContentContainer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    background-color: #E5ECF4;
    padding: 0.5rem;
    border: 0.5px solid black;
    border-radius: 0.5rem 0 0 0;
}

