.deviceContentContainer {
    display: flex;
    flex: 1;
    overflow: hidden;
    gap: 16px;
    padding: 1rem;
    height: 100%;
    width: 100%;
    background-color: #E5ECF4;
}

.addDeviceContainer {
    display: flex;
    flex-direction: column;
}

.deviceContainerLeft {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.deviceContainerRight {
    flex: 1;
    overflow-y: auto
}

.deviceGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
}
