.deviceContentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 400px;

    background-color: #E5ECF4;
    gap: 8px;
    width: 100%;
    padding: 1rem;   
    box-sizing: border-box;
}

#mapBox {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

#deviceContainer {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    overflow-y: auto;
}

.deviceGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 8px;
    padding: 1rem;
}


