#deviceContainer {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 220px 2fr;
    grid-template-rows: auto 1fr;
}

.navbar{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.sideNavbar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.deviceContentContainer {
    display: flex;
    flex: 1;
    overflow: hidden;
    gap: 16px;
    background-color: #E5ECF4;
    padding: 1rem;
    border-radius: 0.5rem 0 0 0;
    overflow: auto;
    min-height: 100%;
    height: 100%;
}

.addDeviceContainer {
    display: flex;
    flex-direction: column;
}

.deviceContainerLeft {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.deviceContainerRight {
    flex: 1;
    overflow-y: auto
}

.deviceGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
}
