#aiContainer {
    display: grid;
    height: 100vh;
    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr;
}

.aiInfoContentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    background-color: #E5ECF4;
    gap: 16px;
    padding: 1rem;
    overflow: auto;
    height: 100%;
}

#addModel {
    grid-row: 1;
    grid-column: 1 / 3;
}

#aiModelRetraining {
    grid-row: 2;
    grid-column: 1 / 3;
}

#aiModelInfoGrid {
    grid-row: 1 / 3;
    grid-column: 3 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 16px;
}

#aiGraph {
    grid-row: 3;
    grid-column: 2 / 4;
}

#aiStats {
    grid-row: 3;
    grid-column: 4;
}

.test {
    grid-row: 3;
    grid-column: 1;
}
