#aiContainer {
    display: grid;
    grid-template-columns: 220px 2fr;
    grid-template-rows: auto 1fr;
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    overflow-x: hidden;
}

#aiInfoContentContainer {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-template-rows: 220px 1fr 1fr ;
    gap: 16px;
    align-items: stretch;
    background-color: #E5ECF4;
    padding: 1rem;
    overflow: hidden;  
    min-height: 100%;
    height: 100%;
}

#aiModelInfoContainer {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#aiModelInfo {
    margin-right: 8px;
}

#addModel {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#addModel form {
    display: flex;
    flex-direction: column;
}

#aiStats {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#modelRetraining {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

}

#aiGraph {
    grid-column: 1 / 3;
    grid-row: 3 / 4;

}