#mainLayoutContainer {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.navbar {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.sideNavbar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.mainContent {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #E5ECF4;
}
