.sideNavbar {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 15px;
    background: var(--secondary-colour);
}

.sideNavbarItems {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    padding: 5px;
    margin: 0;
}

.sideNavbarItem {
    display: block;
    width: 160px;      
    margin: 10px 0;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    border-radius: 5px;
    background: var(--main-colour);
    box-shadow: 1px 4px 4px var(--fourth-colour);
    text-align: center; 
    line-height: 36px;  
    color: var(--fifth-colour);
    
} 

.sideNavbarItem:hover {
    color: var(--third-colour);
    background: var(--fifth-colour);
}
