.sideNavbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    position: sticky;
    top: 0;
    z-index: 11000;
}

.sideNavbarItems {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
    padding-top: 200px;
    margin: 0;
    text-decoration: none;
}

.sideNavbarItem {
    min-width: 180px;
    min-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color 0.2s;
    text-decoration: none;
    background-color: #fff;
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.18);
    color: black;
    border-radius: 0.4rem;
}

.sideNavbarItem:hover, 
.sideNavbarItem:focus {
    box-shadow: 0 0 0 2px #2563eb33;
}

.Link {
    text-decoration: none;
}

