.sideNavbar {
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    background: #3A5A40;
}

.sideNavbarItems {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    margin: 0;
}

.sideNavbarItem {
    display: block;
    margin: 10px 20px;
    cursor: pointer;
    padding: 6px;
    padding-left: 8px;
    margin: 6px;
    border-radius: 50px;
    background: #344E41;
    box-shadow: 2px 4px 4px #A3B18A;
} 

.sideNavbarItem:hover {
    color: #588157;
    background: #DAD7CD;
}
