.sideNavbar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
}

.sideNavbar .logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
  align-self: flex-end;   
  padding-top: 3rem;  
}

.menuContent {
  margin-top: 24px;         
  display: flex;
  justify-content: center;  
}

.menuContent ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.menuContent ul li {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  cursor: pointer;
  background: #f3f4f6;
  border-radius: 10px;
}

.menuContent ul li:hover,
.menuContent ul li:focus {
  background: #f0f9ff;
  color: #2563eb;
  outline: none;
}