.sideNavbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    padding-top: 6rem;
}

.sideNavbarItem {
    margin: 0.75rem;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    width: 150px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 5px rgb(173, 172, 172);
    color: #000000;
    text-decoration: none;
}

.sideNavbarItem:hover {
    font-weight: bold;
    text-decoration: underline;
    color: blue;
    box-shadow: 5px 5px 5px 5px blue;
}

#Settings {
    margin-top: 4rem;
}