.topNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.topNavbarItems {
    flex: 1;
    list-style: none;
    text-align: center;
}

.topNavbarItem {
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.toggleIcon {
    width: 24px;
    cursor: pointer;
    margin-left: 40px;
}

.searchBox {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 50px;
    height: auto;
}

.searchBox input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 200px;
}