.topNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.topNavbar h1 {
    font-size: xx-large;
    font-weight: bold;
}

.topNavbarItems {
    display: flex;
    flex-direction: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.toggleIcon {
    width: 24px;
    cursor: pointer;
    margin-left: 40px;
}

.searchBox {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 50px;
    height: auto;
    border: 0.5px solid black;
}

.searchBox input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #000;
    font-size: 14px;
    max-width: 200px;
}

.logo {
    width: 40px;
    height: 40px;
}