.dashCard {
    position: relative;
    background: #fff;
    border-radius: 0.5rem;
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    height: 100%;      
    box-sizing: border-box;
    align-self: stretch;
}

.marker {
    position: absolute;
    left: 0;
    top: 0;
    width: 0.5rem;
    height: 100%;
    background: blue;
    border-radius: 8px 0 0 8px;
}

.img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.cardHeader {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1rem 0 0.5rem;
    border-bottom: 2px solid #eee;
    display: flex;
    justify-content: space-between;

}

.cardContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
    overflow: auto;
    word-break: break-word;
    padding: 1.5rem;
}
